---
layout: default
---
<div class="row">
  <div class="col s12 m4">
    <img src="{{ page.thumb }}">
  </div>
  <!-- larger devices -->
  <div class="col s12 m8 hide-on-med-and-down">
    {% if page.links %}
      {% for link in page.links %}
        {% assign link_even = forloop.index | modulo:2 %}
        {% if link_even == 1 %}
        <a class="z-depth-2 white-text waves-effect waves-light btn" role="button" href="{{ page.links[forloop.index] }}">
          {{ link }}
        </a>
        {% endif %}
      {% endfor %}
    {% endif %}      
  </div>
  <!-- mobile devices -->
  <div class="hide-on-large-only">
    <div class="collection">
      {% if page.links %}
        {% for link in page.links %}
          {% assign link_even = forloop.index | modulo:2 %}
          {% if link_even == 1 %}
          <a class="collection-item z-depth-2 white-text indigo waves-effect waves-light btn" role="button" href="{{ page.links[forloop.index] }}">
            {{ link }}
          </a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
    
<hr/>

<section>
  <h4><a href="{{ page.url }}">{{ page.title }}<i class="material-icons">link</i></a></h4>
      {% assign status_tag = page.status %}
      {% include status_tag %}
  <p>{{ page.description }}</p>

  {{ content }}
</section>

{% assign game_title = page.title %}
{% include changelogs %}
